extends layout

append head
  //- add page specific styles by appending to the head
  link(rel='stylesheet' href='/stylesheets/laughfeed.css')
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content

  #main
    div
    #sideBar
      h2 Welcome to GoodLaughs, #{user.username}!
      div
      a(href="/")
            img(id="github_banner" src="/images/github.png" alt="GitHub Banner")
      div
      a(id="github" href="https://github.com/bongochin") Dan Chin
      div
      a(id="github" href="https://github.com/rcreadii") Chris Read
      div
      a(id="github" href="https://github.com/dereknungesser") Derek Nungesser
      div
      a(id="github" href="https://github.com/Ty-Newman") Ty Newman
      //- div
      //- a(href="/laughs") Laughs
      //- div
      //- a(href="/laughfeed") Laughfeed
    #feedPage
  div(id='wrapper')
    each laugh in laughs
      div(id='content')
        span(hidden id="laughId" name=laugh.id)
        h2(id='user-name')= laugh.User.username
        p(id='body')= laugh.body
        input(checked=(laugh.bows ? "checked" : undefined) class="bow" id="bows" type="checkbox")
        label(for="bows" title="text")  Bow / Superlike
        select(class="laughboxes")
          option(value=null) add to Laugh Box
          each laughbox in laughboxes
            option(value=laughbox.id) #{laughbox.name}
        //- p=laugh.lols
        div(class="rate")
          input(checked=(laugh.lols === "5" ? "checked" : undefined) type="radio" id="star5" name="rate" onclick="rateLols" value="5")
          label(for="star5" title="text") 5 stars
          input(checked=(laugh.lols === "4" ? "checked" : undefined) type="radio" id="star4" name="rate" onclick="rateLols" value="4")
          label(for="star4" title="text") 4 stars
          input(checked=(laugh.lols === "3" ? "checked" : undefined) type="radio" id="star3" name="rate" onclick="rateLols" value="3")
          label(for="star3" title="text") 3 stars
          input(checked=(laugh.lols === "2" ? "checked" : undefined) type="radio" id="star2" name="rate" onclick="rateLols" value="2")
          label(for="star2" title="text") 2 stars
          input(checked=(laugh.lols === "1" ? "checked" : undefined) type="radio" id="star1" name="rate" onclick="rateLols" value="1")
          label(for="star1" title="text") 1 star
        //- function rateBows() => {
        //-   console.log("I am here.")
        //-   window.location.href = '/laughs/' + laugh.id + '/ratings/'
        //-   };
      //- p=rateBows()
      div(id='review-wrapper')
        if laugh.createdLaugh
          a(id='write-review' href='/laughs/' + laugh.id) Edit this Laugh
        a(id='edit-laugh' href='/laughs/' + laugh.id + '/reviews')
          if !laugh.reviewByLoggedInUser
            | Write a Review
          else
            | Edit Your Review
        if laugh.reviews
          each review in laugh.reviews
            ul
              li= review.body + ' - ' + review.User.username
