extends layout

block content
  form(action='/laughboxes' method='POST')
  input(type='hidden' name='_csrf' value=csrfToken)
  div(class='addLaughBox')
    label(for='laughbox') New LaughBox
    input(type='text' name='laughbox' placeholder='LaughBox Name' value=name)
    button(type='submit' class='addButton') Add Laughbox
  div(class='laughboxes')
    table
      thead(class='laughboxes-list')
        tr
          th(scope='col') LaughBox
          th(scope='col') Date Created
          th(scope='col') # of Laughs
      tbody
        if undefined
          each laughbox in laughboxes
            tr
              td= laughbox.name
              td= laughbox.createdAt
              td= (laughbox.laughBoxLaughs.length || 0)
              td: a(class=`detailsButton' href='/laughboxes/${laughbox.id}`) Open
        else
          p No laughboxes :(
