extends layout
append head
  link(rel="stylesheet", href="/stylesheets/login.css")
  link(rel="stylesheet", href="/stylesheets/laughs.css")
  link(rel="stylesheet", href="/stylesheets/laughboxes.css")

block content
  input(type='hidden' name='_csrf' value=csrfToken)
  form(action='/laughboxes' method='POST')
    div(class='addLaughBox')
      label(for='laughbox') Create a LaughBox
      input(type='text' name='laughbox' placeholder='LaughBox Name' value=name)
      button(type='submit' class='addButton') Add LaughBox
  div(class='laughboxes')
    table
      thead(class='laughboxes-list')
        tr
          th(scope='col') LaughBox
          th(scope='col') Date Created
          th(scope='col') # of Laughs
      tbody
        if undefined
          each laughbox in laughboxes
            tr
              td= laughbox.name
              td= laughbox.createdAt
              td= (laughbox.laughBoxLaughs.length || 0)
              td: a(class=`detailsButton' href='/laughboxes/${laughbox.id}`) Open
        else
          p No laughboxes :(
