extends laughs.pug

//- see the laugh

//- edit the laugh

//- delete the laugh


//- show the laugh
block content
    h1= laugh.id
    h1= review
    h1= rating
    table
    thead: tr
      th Username
      th Laugh
      th Posted
      th Updated
      th Bows
      th LOLs
      th Review
    tbody
        tr
          td= rating
          td= laugh.body
          td= laugh.createdAt
          td= laugh.updatedAt
          td= rating.bows
          td= rating.lols
          td= review.body