extends layout

block content
    table
        thead: tr
        th Username
        th Laugh
        th Bows
        th LOLs
        th Review
        th Laugh Id
        th Posted
        th Updated
        tbody
          each laugh in laughs
            tr
              td= laugh.User.username
              td= laugh.body
              td= laugh.ratings.bows
              td= laugh.ratings.lols
              td= laugh.reviews.body
              td= laugh.id
              td= laugh.createdAt
              td= laugh.updatedAt
