extends layout
append head
  link(rel="stylesheet", href="/stylesheets/login.css")
  link(rel="stylesheet", href="/stylesheets/laughs.css")

block content
  table
    thead: tr
      th Laugh Username
      th Laugh
      th Review Username
      th Review Posted
      th Review Updated
      th Review
      tbody
        if reviews.length > 0
          each review in reviews
            tr
              td= user.username
              td= laugh.body
              td= review.User.username
              td= review.createdAt
              td= review.updatedAt
              td= review.body
        else
          tr
            td= noReviews.user.username
            td= noReviews.laugh.body
  if errors.length
    br
    each error in errors
        div(id='errors')= error
  br
  form(action=url method='POST')
    ul(class='flex-outer')
      input(type='hidden' name='_csrf' value=csrfToken)
      li
        if userReview != null
          label Edit a review...
          textarea(name='reviewBody' placeholder="What are you thinking!?")
        else
          label Add a review...
          textarea(name='reviewBody' placeholder="What are you thinking!?")
      li
        button(type='submit' name='submit' id='submit' value='Laughs') Submit
  if userReview != null
    a(href=url+'/delete', id='delete-link' value='delete') Delete Your Review
